<!-- Contains header elements -->
<header>
    <a href="/home"><img src="/images/Lucky 7-logos_transparent.png" alt="Lucky 7" class="logo"></a>
    <h1><a class="button" href="/admin">Admin</a></h1>

    <div class="header-right">
        <form action="/search" method="get">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
</header>
