<header>
    <a href="/home"><img src="/images/Lucky 7-logos_transparent.png" alt="Lucky 7" class="logo"></a>
    <h1>Dealership</h1>
    <nav>
        <ul>
            <li><a class="button" href="/products">Featured Cars</a></li>
            <li><a class="button" href="/cart">Cart</a></li>
            <li><a class="button" href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="header-right">
        <form action="/search" method="get">
            <input type="text" name="search" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
</header>