<%- include('./partials/head') %>
<%- include('./partials/adminHeader') %>

<body>

    <!-- Casual intro -->
    <p class="adminP">Welcome Admin!</p>
    <p class="adminP">Quick Tools Access</p>

    <!-- Quick Navigation -->
    <ul>
        <li><a class="button" href="/bulk">Bulk Upload Veichles</a></li>
        <li><a class="button" href="/productEdit">Edit Vehicles</a></li>
    </ul>

    <!-- Sign Out Button -->
    <button class="button"><a href="/signout">Sign Out</a></button>


</body>