<%- include('./partials/head') %>
<%- include('./partials/adminHeader') %>

<body>
    <!-- Added section to enable file upload -->

    <section class="upload">
        <p>Upload bulk inventory</p>
        <form action="/action_page.php">
            <input type="file" accept=".json, .csv, .xls, .txt" id="myFile" name="filename">
            <!-- this allows the user to upload file -->
            <input type="submit" class="uploadB" value="Upload">
            <!-- this allows the user to submit the file -->
        </form>
        <p class="display"> Select file type above then hit the click the Upload File button to upload the proper file.
            <br> Please use a .json, .csv, .xls, or .txt file.
        </p>


    </section>

</body>