<%- include('./partials/head') %>
    <%- include('./partials/header') %>


        <body>

            <h1 class="contactCenter">Contact Us</h1>
            <div>
                <p class="contactCenter">Have a question about a car you see or any other inquiries? <br>
                    Contact us and get more information!</p>
                <p class="contactCenter">Phone Number: +1 (336)-123-4567<br>
                    Fax: +1 (336)-123-4567 <br>
                    Email: info@luckyseven.com</p>

                <ul>
                    <ul>
                        <li>Monday: 9:00 AM - 5:00 PM</li><br>
                        <li>Tuesday: 9:00 AM - 5:00 PM</li><br>
                        <li>Wednesday: 9:00 AM - 5:00 PM</li><br>
                        <li>Thursday: 9:00 AM - 5:00 PM</li><br>
                        <li>Friday: 9:00 AM - 5:00 PM</li><br>
                        <li>Saturday: 11:00 AM - 8:00 PM</li><br>
                    </ul>
                </ul>
            </div>

            <div>
                <img class="question" src="/images/question.jpg" alt="">
            </div>

            <%- include('./partials/footer') %>

        </body>

        <link rel="stylesheet" href="/styles/styles.css">