@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

body, html {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#introVideo {
  position: absolute; /* Changed from fixed to absolute */
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 4; /* Lower than the header to keep it under */
}

header {
  background-color: #999999;
  color: black;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 5px 10px; 
  z-index: 3;
}

.logo {
  flex: 0 1 auto;
  height: 100px; 
  margin-right: 20px;
}

header h1 {
  flex: 1 1 auto; 
  font-size: 1.5em; 
  font-weight:450;
  margin: 0; 
  white-space: nowrap; 
}

nav {
  flex: 1 1 auto; 
}

.header-right {
  flex: 0 1 auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  padding: 2em;
  margin: 1em 0;
}

footer {
  background-color: #999999;
  color: black;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container {
  display: flex;
  position: fixed;
	
left:90vh;
right:-100vh;
  align-items: center;
  height: 100vh; /* Calculate the height dynamically */
  z-index: 2; /* Ensure it is above the video */
}

#picture-reel-container {
  width: 45%; /* Adjust this based on how wide you want the images to be */
  height: 50%; /* Height can be auto if you want to maintain aspect ratio */
  position: relative;
  overflow: hidden;
}

.reel-image {
  width: 10%;
  height: auto; /* Make sure the image is not taller than the container */
  width: 100%; /* Maintain aspect ratio */
  height: 100%; /* Maintain aspect ratio */
  transition: transform 1s ease-in-out;
  position: absolute;

}
#welcome {
    width: 40%;  /* Adjust percentage or use a fixed pixel value like '500px' */
}
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.new-image {
  transform: translateX(100%);
}

.footer-left, .footer-right {
  padding: 0 1em;
}

<script src="script.js"></script>
